<ul id="nav_bar">
 <li class="nav_link"><a class="nav_link_a" href="/m2s">m2s</a></li>
 <li class="nav_link"><a class="nav_link_a" href="/rename">rename</a></li>
 <li class="nav_link"><a class="nav_link_a" href="/test">test</a></li>
 <li class="nav_link"><a class="nav_link_a" href="/transcode">transcode</a></li>
 <li class="nav_link"><a class="nav_link_a" href="/database">database</a></li>
 <li class="nav_link"><a class="nav_link_a" href="/">home</a></li>
</ul>
<h1><%= title %></h1>
</br>
