<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="sound">
      <audio controls loop>
        <source src=<%= theSoundUrl %> type="audio/mpeg">
      </audio>
    </div>
  </body>
</html>
