@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
}

h1 {
  text-align: right;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  font-weight: 100;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.5)
}

#instrument {
  display: grid;
  grid-template-columns: repeat(32, auto);
  grid-template-rows: repeat(32, 25px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.grid-controller-button {
  text-align: center;
  display: inline-block;
  /* width: 180px;
  height: 150px; */
  border-radius: 3px;
  cursor: pointer;
}

.key-number {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  margin-top: 5px;
}
